body {
  margin: 0;
  /* font-family: "Noto Sans JP", sans-serif; */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: "Noto Sans JP", sans-serif; */
  font-family: "Roboto", sans-serif;
}

* {
  /* font-family: "Noto Sans JP", sans-serif; */
  font-family: "Roboto", sans-serif;
}
