.productDetails {
  /* overflow-y: scroll; */
  overflow-x: hidden;
  margin: 10px;
}
.card {
  /* width: calc(100% - 30px); */
  width: 100%;
  margin: 10px 0;
  /* border: 1px solid #cecece; */
  border-radius: 0;
  /* padding: 5px 0; */
  /* box-shadow: 2px 3px 15px -1px gray; */
  box-shadow: 0px 3px 6px -4px #cecece;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid #cecece;
}

.emptyContainer {
  margin: 2% 3%;
}

.emptyContainer h6 {
  font-size: 16px;
  font-weight: normal;
}

.productContainer {
  width: 200px;
  height: 300px;
  margin: 0 5px;
  /* border: 1px solid; */
}
.productDetails h5 {
  padding-top: 7px;
}

.productContainer .productImgContainer {
  width: 175px;
  height: 175px;
  overflow: hidden;
  text-align: center;
  margin: auto;
  padding: 10px 0;
}

.productContainer .productImgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.productInfo {
  text-align: center;
  font-size: 14px;
}

.productPrice {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
}

.productDetails a {
  text-decoration: none;
  color: #212121;
}

.productDetails a:hover {
  text-decoration: none;
  color: rgb(36, 118, 165);
}

/* @media (max-width: 495px) {
  .productContainer {
    width: 460px;
    margin-left: 15px;
  }
} */

@media (max-width: 460px) {
  .productContainer {
    width: 450px;
    /* margin-left: 15px; */
  }
  productInfo {
    text-align: justify;
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  .productContainer {
    width: 420px;
    /* margin-left: 15px; */
  }
  productInfo {
    text-align: left;
    font-size: 14px;
  }
}
